p {
    text-align: center;
    Font-family: sans-serif;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.header{
    width: 100%;
}
.logo{
    width: 100px;
    height: 100px;
    align-self: flex-start;
    background-image: url(./pickld_logo.png)
}
.nav{
    width: 500px;
    height: 100px;
    align-self: flex-end;
}
.content{
    width: 80vw;
    height: 100vh;
    color: white;
}
.footer{
    width: 100vw;
    height: 100px;
    background-color: #B0BF99;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
body {
    background-color: #4F6658;
    padding: 0;
    margin: 0;
}